---
layout: page
---

<div class="row">
    <div class="video-container">
        <video width="100%" autoplay loop muted>
            <source src="assets/video/indoor_garage_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<p>
    <b>Welcome to the NavINST Dataset!</b> Designed to support the research community, our open-source dataset is fully integrated with ROS,
    offering both accessibility and ease of use. The primary objective of this dataset is to contribute to the advancement of navigation
    and positioning research, particularly in the development and validation of robust algorithms for future commercial autonomous vehicles.
    However, we also encourage researchers to explore and adapt this dataset for a wide range of other research applications beyond autonomous navigation.
</p>

<pre>
    @article{navinst2024,
      author    = {Author Name and Another Author},
      title     = {Title of the Paper},
      journal   = {Journal Name},
      year      = {2024},
      volume    = {12},
      number    = {34},
      pages     = {567-589},
      doi       = {10.1234/journalname.2024.56789},
    }
</pre>
    
